body {
  background: #dfdfdf;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.square {
  position: absolute;
  /* margin: -25% 0 0 -25%; */
  top: 10%;
  /* left: 10%; */
  /* width: 50vw; */
}

.icon-link {
  position: absolute;
  right: 9%;
  top: 12%;
  width: 5%;
  filter: drop-shadow(12px 12px 7px rgba(234, 192, 96, 0.5));
}

.icon-link img {
  width: 200%;
  vertical-align: top;
}